.front-img{
    height: 700px;
    width: 100%;
}

.front-text{
    position: absolute;
    top: 30%;
    left: 26%;
    color: #AE502C;
    font-size: 100px;
    font-family: "Times New Roman", Times, serif;
}

.my-image{
    border-radius: 10%;
}

.about-me{
    font-family: monospace;
}

.icon{
    position: relative;
    left: 50%;
}

.bottom1{
    color: #AE502C;
}

.bottom{
    background-color: #6E2020;
}

.skills{
    top: 100px;
    position: relative;
    bottom: 100px;
}

.skill{
    position: relative;
    left: 40%;
}

.contact{
    margin-top: 5%;
}